repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-yaml
      - id: check-ast
        language: python
        types: [python]
      - id: check-merge-conflict
  - repo: https://github.com/myint/docformatter
    rev: v1.3.1
    hooks:
      - id: docformatter
        args: ['--in-place', '--pre-summary-newline', '--make-summary-multi-line']
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3
        args: ['--config=pyproject.toml']
  # run this last
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.2
    hooks:
      - id: flake8
        args: ['--config=pyproject.toml', '--ignore=E731']
